body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #3498db; /* Change the color as needed */
    border-radius: 50%;
    margin: 0 5px;
    animation: loaderAnimation 1.5s infinite ease-in-out;
}

@keyframes loaderAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
